<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="dashboardHttpBind">
        </binding>
        <binding name="dashboardHttpsBind">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="dashboardBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Scada.Web.Plugins.Dashboard.DashboardSvc">
        <endpoint address="" behaviorConfiguration="dashboardBehavior"
            binding="webHttpBinding" bindingConfiguration="dashboardHttpBind" contract="Scada.Web.Plugins.Dashboard.DashboardSvc" />
        <!-- Uncomment the block below to allow HTTPS connection -->
        <!--<endpoint address="" behaviorConfiguration="dashboardBehavior"
            binding="webHttpBinding" bindingConfiguration="dashboardHttpsBind" contract="Scada.Web.Plugins.Dashboard.DashboardSvc" />-->
      </service>
    </services>
  </system.serviceModel>
</configuration>
